NativeCarrierAccount.xsd

<xs:schema targetNamespace="http://www.cargowise.com/Schemas/Native/2011/11" version="2.0" elementFormDefault="qualified" xmlns="http://www.cargowise.com/Schemas/Native/2011/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Native.xsd" />
  <xs:element name="CarrierAccount" type="CarrierAccountData" />
  <xs:complexType name="CarrierAccountData">
    <xs:all>
      <xs:element name="OrgCarrierAccount" type="NativeCarrierAccount" />
    </xs:all>
    <xs:attribute name="version" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="NativeCarrierAccount">
    <xs:all>
      <!-- Candidate Key: OrgHeader.PK + AccountNumber -->
      <xs:element name="PK" minOccurs="0" type="xs:string" />
      <xs:element name="IsActive" minOccurs="0" type="xs:boolean" />
      <xs:element name="AccountNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DepotID" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MerchantNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BillToParty" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="FullName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="100" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Language" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="7" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IsWarehouseClient" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsForwarder" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsShippingProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsAirWholesaler" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsSeaWholesaler" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsRailProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsLineHaulProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsMiscFreightServices" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsAirCTO" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsAirLine" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsBroker" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsLocalTransport" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsPackDepot" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsSeaCTO" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsShippingLine" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUnpackDepot" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsRailHead" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsRoadFreightDepot" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsShippingConsortium" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsFumigationContractor" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsGlobalAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsNationalAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsSalesLead" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsCompetitor" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsTempAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsPersonalEffectsAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsActive" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag1" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag2" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag3" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag4" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag5" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag6" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag7" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag8" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag9" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag10" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag11" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag12" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag13" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag14" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsConsignee" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsConsignor" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsTransportClient" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsContainerYard" minOccurs="0" type="xs:boolean" />
            <xs:element name="Category" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IsControllingAgent" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsControllingCustomer" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsDistributionCentre" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag15" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag16" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag17" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag18" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag19" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag20" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag21" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag22" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag23" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag24" minOccurs="0" type="xs:boolean" />
            <xs:element name="ScreeningStatus" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IsUserFlag25" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag26" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag27" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag28" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag29" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag30" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag31" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag32" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsFerryWaterTerminal" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsContainerLeasingCompany" minOccurs="0" type="xs:boolean" />
            <xs:element name="OverrideAdditionalAddressInformation" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsInlandWaterwayProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsVGMContractor" minOccurs="0" type="xs:boolean" />
            <xs:element name="ClosestPort" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="5" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
                <xs:attribute name="TableName" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element name="ShippingLine" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: CarrierName -->
                  <xs:element name="CarrierName" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="75" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
                <xs:attribute name="TableName" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Carrier" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="FullName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="100" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Language" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="7" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IsWarehouseClient" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsForwarder" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsShippingProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsAirWholesaler" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsSeaWholesaler" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsRailProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsLineHaulProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsMiscFreightServices" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsAirCTO" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsAirLine" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsBroker" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsLocalTransport" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsPackDepot" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsSeaCTO" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsShippingLine" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUnpackDepot" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsRailHead" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsRoadFreightDepot" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsShippingConsortium" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsFumigationContractor" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsGlobalAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsNationalAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsSalesLead" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsCompetitor" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsTempAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsPersonalEffectsAccount" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsActive" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag1" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag2" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag3" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag4" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag5" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag6" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag7" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag8" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag9" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag10" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag11" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag12" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag13" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag14" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsConsignee" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsConsignor" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsTransportClient" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsContainerYard" minOccurs="0" type="xs:boolean" />
            <xs:element name="Category" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IsControllingAgent" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsControllingCustomer" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsDistributionCentre" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag15" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag16" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag17" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag18" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag19" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag20" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag21" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag22" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag23" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag24" minOccurs="0" type="xs:boolean" />
            <xs:element name="ScreeningStatus" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IsUserFlag25" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag26" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag27" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag28" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag29" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag30" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag31" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsUserFlag32" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsFerryWaterTerminal" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsContainerLeasingCompany" minOccurs="0" type="xs:boolean" />
            <xs:element name="OverrideAdditionalAddressInformation" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsInlandWaterwayProvider" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsVGMContractor" minOccurs="0" type="xs:boolean" />
            <xs:element name="ClosestPort" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="5" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
                <xs:attribute name="TableName" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element name="ShippingLine" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: CarrierName -->
                  <xs:element name="CarrierName" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="75" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
                <xs:attribute name="TableName" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="Action" type="Action" />
  </xs:complexType>
</xs:schema>