NativeOpportunity.xsd

<xs:schema targetNamespace="http://www.cargowise.com/Schemas/Native/2011/11" version="2.0" elementFormDefault="qualified" xmlns="http://www.cargowise.com/Schemas/Native/2011/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Native.xsd" />
  <xs:element name="Opportunity" type="OpportunityData" />
  <xs:complexType name="OpportunityData">
    <xs:all>
      <xs:element name="OrgOpportunity" type="NativeOpportunity" />
    </xs:all>
    <xs:attribute name="version" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="NativeOpportunity">
    <xs:all>
      <!-- Candidate Key: OpportunityID -->
      <xs:element name="PK" minOccurs="0" type="xs:string" />
      <xs:element name="OpportunityID" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpportunityType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Stage" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Status" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Outcome" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Source" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PackageType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EstimatedValue" minOccurs="0" type="xs:decimal" />
      <xs:element name="DiscountAmount" minOccurs="0" type="xs:decimal" />
      <xs:element name="EstimatedCloseDate" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="ClosedDate" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="RecallDate" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="OpportunityNotes" minOccurs="0" type="xs:base64Binary" />
      <xs:element name="LostReason" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CloseCertainty" minOccurs="0" type="xs:short" />
      <xs:element name="RentalMultiplier" minOccurs="0" type="xs:decimal" />
      <xs:element name="SourceDetails" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpportunityDescription" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DateForExchangeRate" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="GlbCompanyCampaign" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: CampaignID -->
            <xs:element name="CampaignID" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
      <xs:element name="EstimatedValueCurrency" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimarySalesPerson" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code + LoginName -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="LoginName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="104" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="AssignedOfficeContact" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: ContactName + OrgHeader.PK -->
            <xs:element name="ContactName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="OrgHeader" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="12" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="OrgContact" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: ContactName + OrgHeader.PK -->
            <xs:element name="ContactName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="OrgHeader" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="12" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
      <xs:element name="OrgAddress" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: OrgHeader.PK + Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="25" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="OrgHeader" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="12" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
      <xs:element name="OrgHeader" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
      <xs:element name="AssignedOffice" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: OrgHeader.PK + Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="25" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="OrgHeader" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="12" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Enquiry" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: LeadUniqueReference -->
            <xs:element name="LeadUniqueReference" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="GlbCompany" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ReferringContact" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: ContactName + OrgHeader.PK -->
            <xs:element name="ContactName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="OrgHeader" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="12" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ReferringOrganisation" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="OrgOpportunityValueCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OrgOpportunityValue" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="RevenueType" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Value" minOccurs="0" type="xs:decimal" />
                  <xs:element name="DiscountPercent" minOccurs="0" type="xs:decimal" />
                  <xs:element name="DiscountBasis" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Discount" minOccurs="0" type="xs:decimal" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="Action" type="Action" />
  </xs:complexType>
</xs:schema>