NativeTransportZone.xsd

<xs:schema targetNamespace="http://www.cargowise.com/Schemas/Native/2011/11" version="2.0" elementFormDefault="qualified" xmlns="http://www.cargowise.com/Schemas/Native/2011/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Native.xsd" />
  <xs:element name="TransportZone" type="TransportZoneData" />
  <xs:complexType name="TransportZoneData">
    <xs:all>
      <xs:element name="RateTransportProvider" type="NativeTransportZone" />
    </xs:all>
    <xs:attribute name="version" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="NativeTransportZone">
    <xs:all>
      <xs:element name="PK" minOccurs="0" type="xs:string" />
      <xs:element name="IsActive" minOccurs="0" type="xs:boolean" />
      <xs:element name="ZoneType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ZoneMode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DefaultDeliveryDueTime" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="DefaultHoldForPickupTime" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="RelatedParty" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ZoneHubLocation" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: InternationalName + RefCountry.Code + RefCountryStates.Code -->
            <xs:element name="InternationalName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Country" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string" />
              </xs:simpleType>
            </xs:element>
            <xs:element name="State" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string" />
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="CountryExternal" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
                <xs:attribute name="TableName" type="xs:string" />
              </xs:complexType>
            </xs:element>
            <xs:element name="StateExternal" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code + RefCountry.Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="CountryCode" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="CountryCodeExternal" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
                <xs:attribute name="TableName" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Country" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="RateTransportZonesCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RateTransportZones" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: ZoneName + RateTransportProvider.PK -->
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="ZoneName" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="IsActive" minOccurs="0" type="xs:boolean" />
                  <xs:element name="RateTransportZoneItemCollection" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="RateTransportZoneItem" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:all>
                              <xs:element name="PK" minOccurs="0" type="xs:string" />
                              <xs:element name="FromDistance" minOccurs="0" type="xs:int" />
                              <xs:element name="ToDistance" minOccurs="0" type="xs:int" />
                              <xs:element name="DistanceUnit" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="2" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="IsBeyond" minOccurs="0" type="xs:boolean" />
                              <xs:element name="FromPostCode" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="10" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="ToPostCode" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="10" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="IsExcludingPostCode" minOccurs="0" type="xs:boolean" />
                              <xs:element name="BeyondHours" minOccurs="0" type="xs:int" />
                              <xs:element name="DeliveryDueTime" minOccurs="0" type="emptiableDateTime" />
                              <xs:element name="PickupDeliveryZone" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="20" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="CityTown" minOccurs="0">
                                <xs:complexType>
                                  <xs:all>
                                    <!-- Candidate Key: InternationalName + RefCountry.Code + RefCountryStates.Code -->
                                    <xs:element name="InternationalName" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:maxLength value="50" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Country" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string" />
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="State" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string" />
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PK" minOccurs="0" type="xs:string" />
                                    <xs:element name="CountryExternal" minOccurs="0">
                                      <xs:complexType>
                                        <xs:all>
                                          <!-- Candidate Key: Code -->
                                          <xs:element name="Code" minOccurs="0">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:element>
                                          <xs:element name="PK" minOccurs="0" type="xs:string" />
                                        </xs:all>
                                        <xs:attribute name="Action" type="Action" />
                                        <xs:attribute name="TableName" type="xs:string" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="StateExternal" minOccurs="0">
                                      <xs:complexType>
                                        <xs:all>
                                          <!-- Candidate Key: Code + RefCountry.Code -->
                                          <xs:element name="Code" minOccurs="0">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:element>
                                          <xs:element name="CountryCode" minOccurs="0">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string" />
                                            </xs:simpleType>
                                          </xs:element>
                                          <xs:element name="PK" minOccurs="0" type="xs:string" />
                                          <xs:element name="CountryCodeExternal" minOccurs="0">
                                            <xs:complexType>
                                              <xs:all>
                                                <!-- Candidate Key: Code -->
                                                <xs:element name="Code" minOccurs="0">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:maxLength value="2" />
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PK" minOccurs="0" type="xs:string" />
                                              </xs:all>
                                              <xs:attribute name="Action" type="Action" />
                                              <xs:attribute name="TableName" type="xs:string" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:all>
                                        <xs:attribute name="Action" type="Action" />
                                        <xs:attribute name="TableName" type="xs:string" />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:all>
                                  <xs:attribute name="Action" type="Action" />
                                  <xs:attribute name="TableName" type="xs:string" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="Country" minOccurs="0">
                                <xs:complexType>
                                  <xs:all>
                                    <!-- Candidate Key: Code -->
                                    <xs:element name="Code" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:maxLength value="2" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PK" minOccurs="0" type="xs:string" />
                                  </xs:all>
                                  <xs:attribute name="Action" type="Action" />
                                  <xs:attribute name="TableName" type="xs:string" />
                                </xs:complexType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="Action" type="Action" />
  </xs:complexType>
</xs:schema>